In [1]:
import pandas as pd 
import numpy as np

## load DataSet and merge them

In [25]:
path = 'D:\work\Te Data task\Retail Data Analytics - Data'
sales = pd.read_csv(path+'\sales data-set.csv')
store = pd.read_csv(path+'\stores data-set.csv')
features = pd.read_csv(path+'\Features data set.csv')

In [31]:
df = sales.merge(features,how="left", on=['Store', 'Date', 'IsHoliday'])
df = df.merge(store, how= "left", on=['Store'])
df.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Type,Size
0,1,1,05/02/2010,24924.50,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,A,151315
1,1,1,12/02/2010,46039.49,True,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,A,151315
2,1,1,19/02/2010,41595.55,False,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,A,151315
3,1,1,26/02/2010,19403.54,False,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,A,151315
4,1,1,05/03/2010,21827.90,False,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,A,151315

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 421570 entries, 0 to 421569
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
 5   Temperature   421570 non-null  float64
 6   Fuel_Price    421570 non-null  float64
 7   MarkDown1     150681 non-null  float64
 8   MarkDown2     111248 non-null  float64
 9   MarkDown3     137091 non-null  float64
 10  MarkDown4     134967 non-null  float64
 11  MarkDown5     151432 non-null  float64
 12  CPI           421570 non-null  float64
 13  Unemployment  421570 non-null  float64
 14  Type          421570 non-null  object
 15  Size          421570 non-null  int64
dtypes: bool(1), float64(10), int64(3), object(2)
memory usage: 51.9+ MB

## Clean dataset

In [34]:
df['Date']= pd.to_datetime(df['Date'])

In [35]:
df['year']= df['Date'].dt.year
df['month']= df['Date'].dt.month
df['day'] = df['Date'].dt.day

In [37]:
df.isna().sum()

Store                0
Dept                 0
Date                 0
Weekly_Sales         0
IsHoliday            0
Temperature          0
Fuel_Price           0
MarkDown1       270889
MarkDown2       310322
MarkDown3       284479
MarkDown4       286603
MarkDown5       270138
CPI                  0
Unemployment         0
Type                 0
Size                 0
year                 0
month                0
day                  0
dtype: int64

In [38]:
df.fillna(0,inplace=True)

In [39]:
df.isna().sum()

Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
Temperature     0
Fuel_Price      0
MarkDown1       0
MarkDown2       0
MarkDown3       0
MarkDown4       0
MarkDown5       0
CPI             0
Unemployment    0
Type            0
Size            0
year            0
month           0
day             0
dtype: int64

In [40]:
df.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Type,Size,year,month,day
0,1,1,2010-05-02,24924.50,False,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,A,151315,2010,5,2
1,1,1,2010-12-02,46039.49,True,38.51,2.548,0.0,0.0,0.0,0.0,0.0,211.242170,8.106,A,151315,2010,12,2
2,1,1,2010-02-19,41595.55,False,39.93,2.514,0.0,0.0,0.0,0.0,0.0,211.289143,8.106,A,151315,2010,2,19
3,1,1,2010-02-26,19403.54,False,46.63,2.561,0.0,0.0,0.0,0.0,0.0,211.319643,8.106,A,151315,2010,2,26
4,1,1,2010-05-03,21827.90,False,46.50,2.625,0.0,0.0,0.0,0.0,0.0,211.350143,8.106,A,151315,2010,5,3

## preprocessing Data

In [41]:
df['IsHoliday'] = df['IsHoliday'].map({True:1,False:0})
df['Type'] = df['Type'].map({'A':1,'B':2,'C':3})

In [47]:
X = df.drop(['Weekly_Sales','Date'],axis=1)
y = df['Weekly_Sales']

In [48]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 421570 entries, 0 to 421569
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   IsHoliday     421570 non-null  int64
 3   Temperature   421570 non-null  float64
 4   Fuel_Price    421570 non-null  float64
 5   MarkDown1     421570 non-null  float64
 6   MarkDown2     421570 non-null  float64
 7   MarkDown3     421570 non-null  float64
 8   MarkDown4     421570 non-null  float64
 9   MarkDown5     421570 non-null  float64
 10  CPI           421570 non-null  float64
 11  Unemployment  421570 non-null  float64
 12  Type          421570 non-null  int64
 13  Size          421570 non-null  int64
 14  year          421570 non-null  int64
 15  month         421570 non-null  int64
 16  day           421570 non-null  int64
dtypes: float64(9), int64(8)
memory usage: 77.9 MB

## Split the data into train and test

In [49]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## Scale the

In [50]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [53]:
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import GradientBoostingRegressor,RandomForestRegressor

In [54]:
reg = LinearRegression()
reg.fit(x_train,y_train)
y_reg_pred = reg.predict(x_test)
print(mean_squared_error(y_test ,y_reg_pred ))

474791170.8845776

In [55]:
dt = DecisionTreeRegressor()
dt.fit(x_train,y_train)
y_dt_pred = dt.predict(x_test)
print(mean_squared_error(y_test ,y_dt_pred ))

30852715.209791314

In [56]:
rf = RandomForestRegressor()
rf.fit(x_train,y_train)
y_rf_pred = rf.predict(x_test)
print(mean_squared_error(y_test ,y_rf_pred ))

16696810.365878655

In [57]:
gbr = GradientBoostingRegressor()
gbr.fit(x_train,y_train)
y_gbr_pred = gbr.predict(x_test)
print(mean_squared_error(y_test ,y_gbr_pred ))

135151038.5701817